@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

$backgroundColor: #EFF0F1;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
  height: 100%;
  font-family: 'Prompt', sans-serif;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

}
